body {
  height: 2000px;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
 }

.parent {
  margin: auto;
}

.block {
  width: 519px;
  height: 746px;
  position: absolute;
  margin: auto;
  border: solid;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-width: 2px;
}

#block1 {
  background-color: rgb(172, 172, 172);
  z-index: 1;
}

#block2 {
  background-color: rgb(204, 204, 204);
  left: -40px;
  top: -40px;
  z-index: 3;
}

#block3 {
  height: 666px;
  width: 459px;
  padding: 40px 30px 40px 30px;
  background-color: rgb(235, 235, 235);
  left: -80px;
  top: -80px;
  z-index: 5;
}

h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Myriad Pro";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
}

.bookmark {
  border: solid;
  border-width: 2px;
  border-style: solid;
  border-radius: 0 10px 10px 0;
  position: absolute;
  width: 95px;
  height: 31px;
}

#bookmark1 {
  top: 47px;
  left: 438px;
  background-color: rgb(0, 174, 239);
  z-index: 2;
}

#bookmark2 {
  top:43px;
  left: 470px;
  background-color: rgb(57, 181, 74);
  z-index: 4;
}

#bookmark3 {
  top: 40px;
  width: 107px;
  left: 494px;
  background-color: rgb(246, 142, 86);
  z-index: 6;
}

h1 {
  font-size: 24px;
  font-family: "Myriad Pro";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  margin-top: 0;
}

p {
  font-size: 12px;
  font-family: "Myriad Pro";
  color: rgb(51, 51, 51);
}

#image1 {
  width: 207px;
  height: 111px;
  border: 0;
  float: left;
  padding: 0 20px 15px 0;
}

#image2 {
  width: 140px;
  height: 140px;
  border: 0;
  float: right;
  margin: 0;
  padding: 0 0 10px 5px;
}

.images::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

h2 {
  margin-top: 45px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Myriad Pro";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: left;
}

.sprite {
  height: 192px;
}

.jokes {
  width: 194px;
  height: 88px;
  border: 0;
}

.jokes::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#joke1 {
  float: left;
  margin-bottom: 7px;
}

#joke2 {
  float: right;
  margin-bottom: 7px;
}

#joke3 {
  margin-top: 7px;
  float: left;
}

#joke4 {
  margin-top: 7px;
  float: right;
}

footer {
  margin-top: 26px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 9px;
  font-family: "Myriad Pro";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
}

.share {
  bottom: 0;
  right: 0;
  position: fixed;
  width: 87px;
  height: 69px;
  background-color: rgb(251, 175, 93);
  border-color: rgb(54, 47, 45);
  border-style: solid;
  border-width: 1px;
  z-index: 7;
}

.social {
  display: inline;
  padding: 0;
  margin: 0;
}

.social li {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("images/social_networks.png");
  height: 22px;
  width: 26px;
}

#facebook {
    background-position: 5px;
}

#twitter {
    background-position: -24px;
}

#instagram {
    background-position: -54px;
}
