body {
  height: 2000px;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -600px;
  left: 0;
}

.block {
  width: 519px;
  height: 746px;
  position: absolute;
  border: solid;
  top: 400px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-width: 2px;
}


#block1 {
  background-color: rgb(172, 172, 172);
}

#block2 {
  background-color: rgb(204, 204, 204);
  left: -40px;
  top: -40px;
}

#block3 {
  height: 666px;
  width: 454px;
  padding: 40px 32.5px 40px 32.5px;
  background-color: rgb(235, 235, 235);
  left: -40px;
  top: -40px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Myriad Pro";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
}

.share {
  bottom: 0;
  right: 0;
  position: fixed;
  width: 87px;
  height: 69px;
  background-color: rgb(251, 175, 93);
  border-color: rgb(54, 47, 45);
  border-style: solid;
  border-width: 1px;
}

.social {
  width: 79px;
  height: 22px;
  margin-top: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
}

.bookmark {
  border: solid;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 0 10px 10px 0;
  position: absolute;
  width: 95px;
  height: 31px;
}

#bookmark1 {
  top: 47px;
  left: 438px;
  background-color: rgb(0, 174, 239);
}

#bookmark2 {
  top:43px;
  left: 470px;
  background-color: rgb(57, 181, 74);
}

#bookmark3 {
  top: 40;
  width: 107px;
  left: 494px;
  background-color: rgb(246, 142, 86);
}


h1 {
  font-size: 24px;
  font-family: "Myriad Pro";
  color: rgb(51, 51, 51);
  line-height: 1.2;
}

p {
  margin-bottom: : 17px;
  font-size: 12px;
  font-family: "Myriad Pro";
  color: rgb(51, 51, 51);
}

#image1 {
  width: 207px;
  height: 111px;
  border: 0;
  float: left;
  margin-right: 20px;
  margin-bottom: 15px;

}

#image2 {
  width: 140px;
  height: 140px;
  border: 0;
  float: right;
  margin-left: 20px;
}

.images::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

h2 {
  margin-top: 42px;
  font-size: 18px;
  font-family: "Myriad Pro";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: left;
}

.sprite {
  height: 192px;
  margin-bottom: 14px;
}

.jokes {
  width: 194px;
  height: 88px;
  border: 0;
}

.jokes::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#joke1 {
  float: left;
  margin-bottom: 7px;
}

#joke2 {
  float: right;
  margin-bottom: 7px;
}

#joke3 {
  margin-top: 7px;
  float: left;
}

#joke4 {
  margin-top: 7px;
  float: right;
}

footer {
  margin-top: 14px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 9px;
  font-family: "Myriad Pro";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
}
